


/* ---------- TOP NAVIGATION BAR ---------- */


/* ------ Nav left ------ */

.round-icon:hover {
    background-color: #e5e5e5;
}




/* ---------------------------------------------------------------------- */

/* ---------- MAIN PAGE ---------- */


/* ------ Left Sidebar -- */

.icon:hover {
    background: #e5e5e5;
}

.left-sidebar:hover {
    overflow-y: scroll;
}

.left-sidebar::-webkit-scrollbar {
    width: 10px;
}

.left-sidebar::-webkit-scrollbar-thumb {
    background: #6262628e; 
    border-radius: 10px;
}

.links a:hover {
    background-color: #f2f2f2;
}



/* ---------------------------------- */
/* ----------- VIDEO PAGE ----------- */
/* ---------------------------------- */

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 70px 35px 70px 25px;
}

/* ------- CONTENT ------- */
.content {
    /*width: 100%;*/
    width: 1200px;
    margin-right: 20px;
}

iframe {
    width: 100%;
    
    min-height: 400px;
    margin: 10px 0;
}

.detail-header {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    padding: 5px 10px;
    height: fit-content;
    background: none;
}

button:hover {
    cursor: pointer;
}

.detail-header button {
    background: #f2f2f2;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
}

.detail-header button:hover {
    background: #e5e5e5;
}

.left {
    display: flex;
}

button span {
    margin-left: 5px;
}

.subscribed-btn {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.right {
    display: flex;
}

.reaction-btn {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

#like-btn {
    border-radius: 30px 0 0 30px;
    border-right: 1px solid #e5e5e5;
}

#dislike-btn {
    border-radius: 0 30px 30px 0;
    margin-left: 0;
}

.video-description {
    background: #f2f2f2;
    margin: 20px 0;
    padding: 15px;
    border-radius: 10px;
    line-height: 20px;
    font-size: 14px;
}

.description-header {
    font-weight: 600;
}

.video-description .hashtag {
    color: #7f7f7f;
}

.heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.heading h4 {
    margin-right: 30px;
}

.sort-btn {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    padding: 0;
}

.sort-btn img {
    margin-right: 7px;
}

.description {
    width: 100%;
}

.description input {
    border: none;
    margin: 5px 0;
    font-size: 14px;
}

.comments {
    margin-top: 30px;
}

.user-id {
    font-weight: 600;
    font-size: 13px;
}

.comment-date {
    font-size: 12px;
    color: #626262;
}

.comment-text {
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 14px;
}

.reactions {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.reactions div {
    margin-right: 15px;
}

.comment-likes {
    display: flex;
    align-items: center;
}

.comment-likes span {
    margin-left: 6px;
    color: #626262;
}

.replies button {
    border-radius: 30px;
    color: #2961d3;
    display: flex;
    align-items: center;
    margin-left: -8px;
    margin-top: 5px;
}

.replies button:hover {
    background: #5aa6f73a;
}

.comments .thumbnail-details {
    margin-bottom: 15px;
}



/* ------- RIGHT SIDEBAR ------- */
.right-sidebar {
    width: 550px; 
    margin-top: 10px;
}

.right-sidebar .thumbnail-details {
    margin-bottom: 5px;
    cursor: pointer;
}
.right-sidebar h4 {
    font-size: 14px;
}

.right-sidebar p, .right-sidebar span {
    font-size: 12px;
    color: #626262;
}

.small-thumbnail img {
    width: 160px;
    border-radius: 10px;
    margin-right: 10px;
}


@media (max-width: 1000px) {
    .main {
        /*display: block;*/
        margin-right: 25px;
    }
    .content {
        width: 100%;
    }
    .right-sidebar {
        width: 100%;
        margin-bottom: 40px;
    }
    
}

