* {
    margin: 0;
    padding: 0;
    font-family: "Roboto","Arial",sans-serif;
    box-sizing: border-box;
}

.bold {
    font-weight: 600;
}

.hidden {
    position: absolute;
    visibility:hidden;
    display:none;
}


a {
    color: #232832;
    text-decoration: none;
}

.overlay {
    background: #00000050;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
}


/* ---------- TOP NAVIGATION BAR ---------- */

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding: 10px 20px 10px 0px;
    
    background: #fff;
    z-index: 1;
    position: fixed;
}

/* ------ Nav left ------ */
.nav-left {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}

/* deals with aspect of icon hover */
.round-icon {   
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
}

.round-icon:hover {
    background-color: #e5e5e5;
}

.logo {
    width: 100px;
    margin-left: 15px;
    cursor: pointer;
}

/* ------ Nav middle ------ */
.nav-middle {
    display: flex;
    align-items: center;
}

.search-box {
    border: 1px solid #626262;
    border-radius: 20px 0 0 20px;
    padding: 9px 10px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-right: -1px;
}

.search-box input {
    border: none;
    outline: none;
    font-size: 16px;
}

.nav-middle button {
    background: #f8f8f8;
    border: none;
    border: 1px solid #626262;
    height: 38px;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    padding: 0 10px;
    margin-right: 5px;
}

.nav-middle button img {
    padding: 0 10px;
}

.nav-middle button:hover {
    background: #f2f2f2;
}


/* ------ Nav right ------ */
.nav-right {
    display: flex;
    justify-content: left;
}

.nav-right ul {
    display: flex;
    justify-content: left;
    align-items: center;
}

ul li {
    display: flex;
    margin-left: 25px;
}

.user-icon {
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 25px;
}

.user-icon img {
    height: 100%;
    width: auto;
    margin-left: -25%;
}




/* ---------------------------------------------------------------------- */

/* ---------- MAIN PAGE ---------- */

.container {
    width: 100%;
    display: flex;
}



/* ------ Left Sidebar -- */
.left-sidebar-small {
    width: 70px;
    font-size: 10px;
    margin-top: 40px;
    padding-top: 20px;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0;
    margin: 0px 3px;
    border-radius: 5px;
}

.icon:hover {
    background: #e5e5e5;
}

.icon img {
    margin-bottom: 7px;
    width: 24px;
    height: 24px;
}


.left-sidebar {
    width: 250px;
    left: -250px;
    background: #ffffff;
    position: fixed;
    overflow-y: hidden;
    top: 0px;
    bottom: 0;
    padding-top: 10px;
    z-index: 3;

    transition: 0.2s;
}

.left-sidebar:hover {
    overflow-y: scroll;
}

.left-sidebar::-webkit-scrollbar {
    width: 10px;
}

.left-sidebar::-webkit-scrollbar-thumb {
    background: #6262628e; 
    border-radius: 10px;
}

.links {
    padding: 12px;
}

.links p {
    padding: 4px 12px ;
    color: #232832;
    font-size: 16px;
}

.links a {
    display: flex;
    font-size: 14px;
    align-items: center;
    padding: 0 12px;
    height: 40px;
    border-radius: 8px;
}

.links a:hover {
    background-color: #f2f2f2;
}

.links a img {
    margin-right: 24px;
    width: 24px;
    height: auto;
}

hr {
    background-color: #e5e5e5;
    border: 0;
    height: 1px;
}

.left-sidebar hr {
    margin: 0 12px;
}

.subscription-img {
    border-radius: 50%;
}

.footer p {
    font-size: 12px;
    color: #626262;
}




/* --------------------------------------------------------- */

/* ---------- Main Page ---------- */
.main-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 35px 70px 25px;

    margin-top: 60px;

    /*position: relative;
    width: 100%;
    padding: 0 30px;*/
    /*margin-left: 250px;*/
}


/* ---- Sticky Genre List ---- */

.genre-list {
    display: flex;
    width: 100%;
    margin-left: 80px;
    padding: 7px 10px 15px 10px;
    position: fixed;
    background: #fff;
    z-index: 1;
}

.genre-list a {
    background: #e5e5e5;
    height: 33px;
    border-radius: 10px;
    font-size: 14px;
    margin: 0 12px;
    padding: 12px;
    display: flex;
    align-items: center;
}



/* ---- Content ---- */

.main-content {
    position: relative;
    top: 80px;
    
}


/* video grid */
.video-grid {
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center; 
    
    /* display only first 2 rows of grid */
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 0;
    row-gap: 0;
    overflow: hidden;
}



.video {
    width: fit-content;
    margin-bottom: 2rem;
}

.thumbnail img {
    display: flex;
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 10px;
}

.thumbnail-overlay {
    position: relative;
    bottom: 25px ;
    display: flex;
    justify-content: flex-end;
}

.thumbnail-overlay span {
    color: #fff;
    background: #232832;
    font-size: 14px;
    padding: 1px 4px;
    border-radius: 5px;
    margin-right: 5px;
}

.thumbnail-details {
    display: flex;
}



/*.video {
    width: fit-content;
    margin-bottom: 2rem;
}

.thumbnail {
    
    min-width: 20rem;
    max-width: 30rem;
}

.thumbnail a {
    width: 100%;
    height: 100%;
}


.thumbnail a img {
    height: auto;
    width: 100%;
    
    border-radius: 10px;
}

.thumbnail-overlay {
    position: relative;
    bottom: 25px ;
    display: flex;
    justify-content: flex-end;
}

.thumbnail-overlay span {
    color: #fff;
    background: #232832;
    font-size: 14px;
    padding: 1px 4px;
    border-radius: 5px;
    margin-right: 5px;
}

.thumbnail-details {
    display: flex;
}*/

.profile-image img{
    border-radius: 50%;
    width: 40px;
    /*aspect-ratio: 1/1;*/
    height: auto;
    margin-right: 12px;
}

.description h4 {
    margin-bottom: 5px;
    color: #232832;
}

.description p {
    font-size: 14px;
    margin-bottom: 3px;
    color: #626262;
}

.description span {
    font-size: 14px;
    color: #232832;
}

.main-container hr {
    height: 3px;
    margin-top: 20px;
    margin-bottom: 40px;
}


/* --- SHORTS --- */
.shorts-container {
    margin-bottom: 50px;
}

.section-title {
    display: flex;
    align-items: center;
    margin: 25px 0;
}

.section-title img {
    margin: 0 10px;
}

.section-title span {
    font-size: 20px;
}

.shorts-gallery {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(6, 1fr);
    justify-items: center;

    /* display only first row of grid */
    grid-template-rows: 1fr;
    grid-auto-rows: 0;
    row-gap: 0;
    overflow: hidden;
}

/*.shorts {
    width: fit-content;
}*/

.shorts-thumbnail {
    max-width: 9.5rem;
    display: flex;
}

/*.shorts-thumbnail a {
    width: 100%;
}*/

.shorts-thumbnail img {
    width: 100%;
    aspect-ratio: 9/16;
    border-radius: 10px;
}

@media (max-width: 1407px) { 
    .video-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .shorts-gallery {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1152px) {
    .shorts-gallery {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1080px) { 
    .video-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .shorts-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .video-grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .shorts-gallery {
        grid-template-columns: repeat(2, 1fr);
        max-width: 23rem;
    }
}

/*@media (min-width: 1312px) {
    .left-sidebar {
        left: 0px;
    }
    .main-container {
        margin-left: 250px;
    }
}*/


/* ---------------------------------- */
/* ----------- VIDEO PAGE ----------- */
/* ---------------------------------- */

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 70px 35px 70px 25px;
}

/* ------- CONTENT ------- */
.content {
    /*width: 100%;*/
    width: 1200px;
    margin-right: 20px;
}

iframe {
    width: 100%;
    
    min-height: 400px;
    margin: 10px 0;
}

.detail-header {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    padding: 5px 10px;
    height: fit-content;
    background: none;
}

button:hover {
    cursor: pointer;
}

.detail-header button {
    background: #f2f2f2;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
}

.detail-header button:hover {
    background: #e5e5e5;
}

.left {
    display: flex;
}

button span {
    margin-left: 5px;
}

.subscribed-btn {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.right {
    display: flex;
}

.reaction-btn {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

#like-btn {
    border-radius: 30px 0 0 30px;
    border-right: 1px solid #e5e5e5;
}

#dislike-btn {
    border-radius: 0 30px 30px 0;
    margin-left: 0;
}

.video-description {
    background: #f2f2f2;
    margin: 20px 0;
    padding: 15px;
    border-radius: 10px;
    line-height: 20px;
    font-size: 14px;
}

.description-header {
    font-weight: 600;
}

.video-description .hashtag {
    color: #7f7f7f;
}

.heading {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.heading h4 {
    margin-right: 30px;
}

.sort-btn {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 600;
    padding: 0;
}

.sort-btn img {
    margin-right: 7px;
}

.description {
    width: 100%;
}

.description input {
    border: none;
    margin: 5px 0;
    font-size: 14px;
}

.comments {
    margin-top: 30px;
}

.user-id {
    font-weight: 600;
    font-size: 13px;
}

.comment-date {
    font-size: 12px;
    color: #626262;
}

.comment-text {
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 14px;
}

.reactions {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.reactions div {
    margin-right: 15px;
}

.comment-likes {
    display: flex;
    align-items: center;
}

.comment-likes span {
    margin-left: 6px;
    color: #626262;
}

.replies button {
    border-radius: 30px;
    color: #2961d3;
    display: flex;
    align-items: center;
    margin-left: -8px;
    margin-top: 5px;
}

.replies button:hover {
    background: #5aa6f73a;
}

.comments .thumbnail-details {
    margin-bottom: 15px;
}



/* ------- RIGHT SIDEBAR ------- */
.right-sidebar {
    width: 550px; 
    margin-top: 10px;
}

.right-sidebar .thumbnail-details {
    margin-bottom: 5px;
    cursor: pointer;
}
.right-sidebar h4 {
    font-size: 14px;
}

.right-sidebar p, .right-sidebar span {
    font-size: 12px;
    color: #626262;
}

.small-thumbnail img {
    width: 160px;
    border-radius: 10px;
    margin-right: 10px;
}


@media (max-width: 1000px) {
    .main {
        /*display: block;*/
        margin-right: 25px;
    }
    .content {
        width: 100%;
    }
    .right-sidebar {
        width: 100%;
        margin-bottom: 40px;
    }
    
}

